body{
	width: 100%;
	margin: 0;
	padding: 0;
}
.clase1{
	background: black ;
	height: 421px;
	width: 40%;
	float: left;

}

.clase2{
	background: blue;
	height: 421px;
	width: 100%;

}

img#logo {
 float: left;
 

}

img#menu {
	margin-left: 500px;
}

h1{
	color:; 
	font-family: Arial, helvetica,
}